.main-button {
    display: inline-block;
    background-color: #58004F;
    color: #fff;
    padding: 18px 20px;
    box-shadow: 4px 4px black;
    margin-right: 0;
    cursor: pointer; 
    font-size: 20px;
    text-decoration: none;
}

.main-button.-form{
    font-size: 30px;
    font-weight: 300;
    padding: 10px 11px;
}

.main-button:hover {
    transform: scale(1.01);
    font-size: 21px;
}

.main-button.-form:hover {
    font-size: 30px;
}