.section {
    background-color: #145DA0;
    border-bottom: 10px solid #B1D4E0;
    padding-top: 50px;
    padding-bottom: 100px;
}

.section .main-title {
    margin-bottom: 80px;
}

.section.-bgBlack {
    background-color: #000;
}

.section.-bdMidnightBlue{
    border-color: #191970;
}